{% extends "base.html" %}

{% load league_extras %}

{% block content %}
<div class="header">
    <h1><span class="title__city">{{ active_season.name }} / </span>Рейтинг команд</h1>
    <div class="season-buttons">
        {% for division in active_season.division_set.all %}
        <a class="pure-button {{ forloop.first|yesno:'pure-button-primary,' }} division-link"
           id="tab-link-division-{{ division.number }}"
           onclick="openTab('division-{{ division.number }}', 'division')">{{ division.name }}</a>
        {% endfor %}
    </div>
</div>

{% for division in active_season.division_set.all %}
{% teams_contains_small_image division.sorted_team_set.all as division_has_teams_with_logo %}
<div class="content division tab-content-division" id="division-{{ division.number }}"
     style="display: {{ forloop.first|yesno:'block,none' }}">
    <table class="pure-table table_style_default teams-result-table">
        <thead>
        <tr>
            <th>#</th>
            {% if division_has_teams_with_logo %}
            <th class="team-logo-call"></th>
            {% endif %}
            <th class="team-call">Команда</th>
            <th>И</th>
            <th>В</th>
            {% if not division.without_tie %}
            <th>Н</th>
            {% endif %}
            <th>П</th>
            {% if division.without_tie %}
            <th>П*</th>
            {% endif %}
            <th class="goal-difference">Р</th>
            <th class="{{ division.race_match_format|yesno:'sets,match-difference' }} ">{{ division.race_match_format|yesno:'С,РМ' }}</th>
            <th>О</th>
        </tr>
        </thead>
        <tbody>
        {% for team in division.sorted_team_set.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if division_has_teams_with_logo %}
            <td class="team-logo-call">
                {% if team.image_small %}
                <div class="team-logo team-logo_sise_small"
                     style="background-image: url({{ team.image_small.url }})">
                </div>
                {% endif %}
            </td>
            {% endif %}
            <td class="team-call">{{ team.name }}</td>
            <td>{{ team.played }}</td>
            <td>{{ team.victories }}</td>
            {% if not division.without_tie %}
            <td>{{ team.tie }}</td>
            {% endif %}
            <td>{{ team.lost_display }}</td>
            {% if division.without_tie %}
            <td>{{ team.lost_by_penalty }}</td>
            {% endif %}
            <td class="goal-difference">{{ team.total_goal_average }}</td>
            <td class="{{ division.race_match_format|yesno:'sets,hidden' }}">{{ team.total_set_points }}</td>
            <td class="{{ division.race_match_format|yesno:'hidden,match-difference' }}">{{ team.total_game_points }}</td>
            <td>{{ team.total_match_points }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="glossary">
        <div class="glossary_title">Глоссарий</div>
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">И</dt>
            <dd class="gloss_transcript">Количество сыгранных матчей</dd>
        </dl>
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">В</dt>
            <dd class="gloss_transcript">Количество побед</dd>
        </dl>
        {% if not division.without_tie %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">Н</dt>
            <dd class="gloss_transcript">Количество ничьих</dd>
        </dl>
        {% endif %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">П</dt>
            <dd class="gloss_transcript">Количество проигрышей</dd>
        </dl>
        {% if division.without_tie %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">П*</dt>
            <dd class="gloss_transcript">Количество проигрышей по пенальти</dd>
        </dl>
        {% endif %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">Р</dt>
            <dd class="gloss_transcript">Разница между забитыми и пропущенными голами</dd>
        </dl>
        {% if division.race_match_format %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">С</dt>
            <dd class="gloss_transcript">Очки за сеты</dd>
        </dl>
        {% else %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">РМ</dt>
            <dd class="gloss_transcript">Разница между победами и поражениями в матчах</dd>
        </dl>
        {% endif %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">О</dt>
            <dd class="gloss_transcript">Очки за матчи</dd>
        </dl>
    </div>
</div>
{% endfor %}
<script>

</script>
{% endblock content %}