body {
  color: #777;
  background-color: #fafafa;
}
* {
font-family: 'Montserrat', sans-serif!important;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}
  #layout.active #menu {
      left: 240px;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
  #layout #menu {
      margin-top: 64px;
  }

  #layout.active .menu-link {
      left: 240px;
      float: left;
  }
/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0;
  padding: 0 1em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
  max-width: 800px;
}

.header {
   margin: 0;
   color: #333;
   padding: 0 1em 16px;
   max-width: 800px;
   overflow: hidden;
}
  .header h1 {
    margin: 18px 0 16px;
    font-weight: 600;
    color: #333333;
  }
   .header h2 {
      font-weight: 300;
      color: #ccc;
      padding: 0;
      margin-top: 0;
  }

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
  margin-left: -240px; /* "#menu" width */
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

  /*
  All anchors inside the menu should be styled like this.
  */
  #menu .pure-menu-list a {
      color: #1a1a1a;
      border: none;
      padding: 18px 20px;
      font-size: 16px;
      font-weight: 600;
  }

  /*
  Remove all background/borders, since we are applying them to #menu.
  */
   #menu .pure-menu,
   #menu .pure-menu ul {
      border: none;
      background: transparent;
  }

  /*
  Add that light border to separate items into groups.
  */
  #menu .pure-menu ul,
  #menu .pure-menu .menu-item-divided {

  }
      /*
      Change color of the anchor links on hover/focus.
      */
      #menu .pure-menu li a:hover {
          background: #F7F7F7;
      }

      #menu .pure-menu li a:focus {
        background: #F7F7F7;
      }
  /*
  This styles the selected menu item `<li>`.
  */
  #menu .pure-menu-selected {
      background: #4290eb;
      position: relative;
  }

  #menu .pure-menu-selected::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: inherit;
      background-color: #4290eb;
      content: ''
  }
      /*
      This styles a link within a selected menu item `<li>`.
      */
      #menu .pure-menu-selected a,
      #menu .pure-menu-selected a:hover {
          color: #fff;
          background: #4290eb!important;
      }
      #menu .pure-menu-selected a .icon .cls-2 {
        fill: #fff!important;
      }


  /*
  This styles the menu heading.
  */
  #menu .pure-menu-heading {
    margin: 0;
    padding: 18px 16px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    display: none;
    text-align: center;
  }
  .logo {
    font-size: 24px;
    font-weight: 900;
    color: #1a1a1a;
  }
  .pure-menu-heading__select-city {
    display: block;
    margin-top: 5px;
  }

  .pure-menu-heading__select-city .pure-button:nth-child(2){
    margin-left: -5px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .pure-menu-heading__select-city .pure-button:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  /*position: fixed;*/
  display: block; /* show this only on small screens */
  /*top: 0;
  left: 0; *//* "#menu width" */
  background: #fff;
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 16px;
}

  .menu-link:hover,
  .menu-link:focus {
      background: #fff;
  }

  .menu-link span {
      position: relative;
      display: block;
  }

  .menu-link span,
  .menu-link span:before,
  .menu-link span:after {
      background-color: #1a1a1a;
      width: 100%;
      height: 0.2em;
  }

      .menu-link span:before,
      .menu-link span:after {
          position: absolute;
          margin-top: -0.6em;
          content: " ";
      }

      .menu-link span:after {
          margin-top: 0.6em;
      }


.moble-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
  justify-content: space-between;
  background: #fff;
  height: 64px;
  position: fixed;
  top:0;
  z-index: 6;
  width: 100%;
}
.moble-head__menu-link {
font-size: 14px!important;
}
.mobile-head__logo {
font-size: 20px;
font-weight: 700;
color: #1a1a1a;
text-align: center;
width: 173px;
margin: 0 auto;
padding-top: 1.0em;
}
@media (max-width: 360px) {
.mobile-head__logo {
  font-size: 16px;
  width: 125px;
  margin: 0 auto;
  padding-top: 1.5em;
}
.moble-head__select-city .pure-button {
  padding-left: 5px!important;
  padding-right: 5px!important;
  font-size: 14px;
}
}
.moble-head__select-city {
float: right;
padding-top: 1.0em;
padding-right: 16px;
}
.moble-head__select-city .pure-button{
padding-left: 10px;
padding-right: 10px;
}
.moble-head__select-city .pure-button:nth-child(2){
margin-left: -5px;
border-left: none;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.moble-head__select-city .pure-button:nth-child(1) {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: 568px) {
.header,
.content {
    padding-left: 2em;
    padding-right: 2em;
}
}

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 1024px) {
  .moble-head {
    display: none!important;
  }
  .pure-menu-heading {
    display: block!important;
  }
  .top-menu {
    padding: 1em;
  }
.header h1 {
font-size: 24px;
}
  #layout {
      padding-left: 240px; /* left col width "#menu" */
      left: 0;
  }
  #menu {
      left: 240px;
  }

  #menu {
    margin-top: 0!important;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.15), -1px 0 2px 0 rgba(0, 0, 0, 0.15);
  }

}

@media (max-width: 1023px) {
#main {
  margin-top: 64px;
}
.header h1 {
    font-size: 20px;
}
}
@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
  case results in extra padding on the left:
      * Make the window small.
      * Tap the menu to trigger the active state.
      * Make the window large again.
  */

  .top-menu {
      padding: 0.4em 1em 0.3em 3em;
  }
}


.table_style_default {
border-radius: 4px;
border: solid 1px #e6e6e6;
width: 100%;
}
.table_style_default th {
font-weight: 200;
color: #808080;
background: #F7F7F7;
font-weight: 500;
}
.table_style_default td, .table_style_default th {
border-left: none;
font-size: 12px;
text-align: center;
}
.table_style_default td {
background-color: #fff;
border-bottom: 1px solid #e6e6e6;
font-weight: 600;
color: #000;
height: 18px;
line-height: normal;
letter-spacing: normal;
color: #333333;
padding: 13px 5px;
}
td.team-call, th.team-call {
text-align: left;
}
th.player-name-call, td.player-name-call {
text-align: left;
}
.table_style_teams-result {
border-radius: 4px;
border: solid 1px #e6e6e6;
width: 100%;
}
.table_style_teams-result th {
font-weight: 200;
color: #808080;
background: #F7F7F7;
font-weight: 500;
}
.table_style_teams-result td, .table_style_teams-result th {
border-left: none;
font-size: 90%;
text-align: center;
}
.table_style_teams-result td {
color: #000;
height: 18px;
font-weight: 600;
line-height: normal;
letter-spacing: normal;
color: #333333;
padding: 1em;
}




.team-logo {
height: 28px;
width: 28px;
background: #faebd8;
}



#division-2 .raiting-table td,
#division-2 .raiting-table th {
padding: 10px 8px;
}
#division-2 .raiting-table td {
font-weight: 400;
}
#division-2 .raiting-table td.player-name-call,
#division-2 .raiting-table td.count,
#division-2 .raiting-table td.TA {
font-weight: 600;
}

#division-2 .raiting-table th:nth-last-child(1),
#division-2 .raiting-table td:nth-last-child(1) {
padding-right: 8px;
}


  #division-2 .raiting-table .description-full {
  border-bottom: solid 1px #e6e6e6
}
  #division-2 .raiting-table .description th {
  padding: 5px 0 0;
  text-align: center;
}

.raiting-table .team-span {
  font-weight: 200;
  color: #000;
}
@media (min-width: 768px) {
#division-2 .raiting-table .description-full th {
  padding-top: 0!important;
}
#division-2 .raiting-table td.TP,
#division-2 .raiting-table td.TW,
#division-2 .raiting-table td.TD,
#division-2 .raiting-table td.TL,
#division-2 .raiting-table td.TA,
#division-2 .raiting-table td.DP,
#division-2 .raiting-table td.DW,
#division-2 .raiting-table td.DD,
#division-2 .raiting-table td.DL,
#division-2 .raiting-table td.DA {
  background: #F7F7F7;
}
#division-2 .raiting-table .team-call {
  text-align: center;
}

}

@media (min-width: 440px) {
.raiting-table .team-span {
  display: none;
}
.player-first-name-letter {
  display: none;
}
}
@media (max-width: 439px) {
.raiting-table .team-call {
  display: none;
}
.player-first-name {
  display: none;
}
}

.protocol-list-table td{
font-weight: 400!important;
}

.protocol-list-table td:first-child {
width: 100px;
}

.protocol-list-table td:nth-child(3) {
width: 40px;
}
.protocol-list-table td:nth-child(4) {
width: 210px;
}

#division-2 .raiting-table .unactive-player .count,
#division-2 .raiting-table .unactive-player .player-name-call,
#division-2 .raiting-table .unactive-player .TA {
  font-weight: 200!important;
}

#division-2 .raiting-table .unactive-player td {
  padding: 6px 8px!important;
  opacity: 0.5;
}

@media (max-width: 767px) {
.title__city {
  display: none;
}
#division-2 .raiting-table .description {
  display: none;
}
#division-2 .raiting-table .SP,
#division-2 .raiting-table .SW,
#division-2 .raiting-table .SD,
#division-2 .raiting-table .SL,
#division-2 .raiting-table .SA,
#division-2 .raiting-table .DP,
#division-2 .raiting-table .DW,
#division-2 .raiting-table .DD,
#division-2 .raiting-table .DL,
#division-2 .raiting-table .DA,
#division-1 .teams-result-table .sets,
#division-2 .teams-result-table .goal-difference,
.teams-result-table .SP {
    display: none;
}

.protocol-list-table td:first-child {
  width: 70px;
}
.protocol-list-table td:nth-child(4) {
  display: none
}
h3 {
  font-size: 15px;
}
.table_style_default.pure-table td,
.table_style_default.pure-table th {
  padding: 6px 10px;
}
.table_style_default.pure-table th {
  line-height: 15px;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
}
}
/* Для 5s */
@media (max-width: 390px) {
#division-1 .teams-result-table .goal-difference,
#division-2 .teams-result-table .match-difference,
.teams-result-table .SP {
    display: none;
}
.table_style_default td, .table_style_default th {
  padding: 6px 8px!important;
}
#division-2 .raiting-table.table_style_default td,
#division-2 .raiting-table.table_style_default th {
  padding: 6px 6px!important;
}
}
@media (max-width: 1023px) {

#division-2 .raiting-table .GS,
#division-2 .raiting-table .GC,
#division-2 .raiting-table .GA,
#division-2 .raiting-table .goals
{
    display: none;
}
}

@media (min-width: 1024px) {
.table_style_default td, .table_style_default th {
  font-size: 90%;
}
.table_style_default td {
  padding: 1em;
}
}

.pure-menu-link .icon {
width: 24px;
height: 24px;
}

.top-menu {
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}
.top-menu .pure-menu-link {
  padding: .5em 1em;
  font-size: 90%;
}

.top-menu .pure-menu-selected .pure-menu-link,
.top-menu .pure-menu-selected .pure-menu-link:visited{
color: #4290eb;
background: transparent;
}
.top-menu .pure-menu-link:hover{
background: transparent;
color: #4290eb;
}
.season-buttons {

max-width: 100%;
width: 420px;
}
.season-buttons .pure-button {
text-align: center;
width: 50%;
}
.season-buttons .pure-button:nth-child(2){
margin-left: -5px;
border-left: none;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.season-buttons .pure-button:nth-child(1) {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.pure-button  {
border: solid 1px #0078e7;
background: transparent;
font-size: 14px;
border-radius: 5px;
color: #0078e7;
}
.pure-button-primary {
background: #4290eb!important;
border: solid 1px #4290eb!important;
}
.add-result {
float: right;
}

h1, h2, h3 {
color: #333333;
}

h2 {
font-size: 1.2em;
}
td.blank-result {
  background: #F7F7F7;
}

.pure-table-odd td, .pure-table-striped tr:nth-child(2n-1) td {
  background: #F7F7F7;
}

.pure-table-bordered td, .pure-table-bordered th {
border-left: 1px solid #e6e6e6;
border-bottom: 1px solid #e6e6e6;
}

.glossary {
overflow: hidden;
border: solid 1px #e6e6e6;
color: #808080;
border-radius: 5px;
background: #fff;
padding: 10px 10px 0;
margin-top: 15px;
font-size: 14px;
}
.glossary_title {
margin-bottom: 8px;
font-weight: 600;
}
.glossary_item {
margin-top: 0;
margin-bottom: 8px;
}
.gloss_abbreviation {
float: left;
width: 20px;
color: #333333;
font-size: 14px;
font-weight: 600;
text-align: center;
}
@media (min-width: 768px) {
.glossary_title {
  font-size: 16px;
  padding: 5px;
}
.glossary_item {
  float: left;
  width: 50%;
  margin-bottom: 16px;
}
}

.link_theme_default {
color: #4290eb;
text-decoration: none;
}

.link_theme_default:hover {
text-decoration: underline;
}