{% extends "base.html" %}

{% load l10n %}

{% block content %}
<div class="header">
    <h1><span class="title__city">{{ active_season.name }} / </span>Матчи</h1>
    <div class="season-buttons">
        {% for division in active_season.division_set.all %}
        <a class="pure-button {{ forloop.first|yesno:'pure-button-primary,' }} division-link"
           id="tab-link-division-{{ division.number }}"
           onclick="openTab('division-{{ division.number }}', 'division')">{{ division.name }}</a>
        {% endfor %}
    </div>
</div>

{% for division in active_season.division_set.all %}
<div class="content division tab-content-division" id="division-{{ division.number }}" style="display: {{ forloop.first|yesno:'block,none' }}">
    {% for team in division.team_set.all %}
    <h3>{{ team.name }}</h3>
    <table class="pure-table protocol-list-table table_style_default">
        <tbody>
        {% for match in team.get_matches %}
        {% url 'league:match_detail' selected_city team.division.number match.round_number match.team1.short_name match.team2.short_name as match_url %}
        <tr>
            <td>{% localize on %} {{ match.date|date:"d E Y" }} {% endlocalize %}</td>
            <td>
                {% if not match.is_team1_forfeit and not match.is_team2_forfeit %}
                <a class="link_theme_default" href="{{ match_url }}">
                    {{ match.team1.name }} - {{ match.team2.name }}
                </a>
                {% else %}
                    {{ match.team1.name }} - {{ match.team2.name }}
                {% endif %}
            </td>
            <td>
                {% if not match.is_team1_forfeit and not match.is_team2_forfeit %}
                <a class="link_theme_default"
                   href="{{ match_url }}">
                    {% if division.race_match_format %}
                    {{ match.team1_set_score }} - {{ match.team2_set_score }}
                    {% else %}
                    {{ match.team1_game_points }} - {{ match.team2_game_points }}{% if match.penalty_score %} ({{match.penalty_score }}){% endif %}
                    {% endif %}
                </a>
                {% else %}
                    {% if division.race_match_format %}
                    {{ match.team1_set_score }} - {{ match.team2_set_score }}
                    {% else %}
                    {{ match.team1_game_points }} - {{ match.team2_game_points }}{% if match.penalty_score %} ({{match.penalty_score }}){% endif %}{% if match.is_team1_forfeit or match.is_team2_forfeit %} (техн.){% endif %}
                    {% endif %}
                {% endif %}
            </td>
            <td>{{ match.place }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}