{% extends "base.html" %}

{% load static %}
{% load l10n %}

{% block menu %}
<li class="pure-menu-item menu-item-divided pure-menu-selected">
    <a href="{% url 'league:matches' selected_city %}" class="pure-menu-link">
        {{ match.team1.short_name }} - {{ match.team2.short_name }} {{ match.date|date:"d.m.Y" }}
    </a>
</li>
{% endblock menu %}

{% block content %}
<div class="match-header">
    <div class="match-header__bar">
        {% localize on %} {{ match.date|date:"d E" }}, {% endlocalize %} «{{ match.place }}»
    </div>
    <div class="match-header__info"
         style="background-image: url({% if match.place.image %} {{ match.place.image.url }} {% endif %})">
        <div class="pure-g match-header__info-content">
            <div class="match-header__team pure-u-8-24 pure-u-sm-8-24">
                {% if match.team1.image %}
                <img class="match-header__team-logo" src="{{ match.team1.image.url }}"/>
                {% else %}
                <span class="match-header__team-logo_text" style="">{{ match.team1.short_name }}</span>
                {% endif %}
            </div>
            <div class="pure-u-8-24 pure-u-sm-8-24">
                <div class="match-header__total-score">
                    {{ match.team1_game_points }}
                    <span class="match-header__score-separator">:</span> {{ match.team2_game_points }}
                </div>
                {% if match.penalty_score %}
                <div class="match-header__sets-score">
                    <span class="score">{{ match.penalty_score }}</span> <span class="text">по пенальти</span>
                </div>
                {% endif %}
            </div>
            <div class="match-header__team match-header__team_postion_right pure-u-8-24 pure-u-sm-8-24">
                {% if match.team2.image %}
                <img class="match-header__team-logo" src="{{ match.team2.image.url }}"/>
                {% else %}
                <span class="match-header__team-logo_text" style="">{{ match.team2.short_name }}</span>
                {% endif %}
            </div>
            <div class="pure-u-12-24 pure-u-sm-12-24 match-header__team-title match-header__team-title__position_left">
                {{ match.team1.name }}
            </div>
            <div class="pure-u-12-24 pure-u-sm-12-24 match-header__team-title match-header__team-title__position_right">
                {{ match.team2.name }}
            </div>
        </div>
    </div>
</div>

<div class="content content-match">
    <div class="pure-g">
        {% for game in match.games %}
        {% if forloop.counter == 1 %}
        <div class="pure-u-24-24 pure-u-sm-12-24 set-column_position_first">
            {% endif %}
            {% if forloop.counter == 4 %}
        </div>
        <div class="pure-u-24-24 pure-u-sm-12-24 set-column_position_second">
            {% endif %}
            <table class="set-card">
                <tr>
                    <td class="set-card__counter" rowspan="2">{{ game.game_type }}</td>
                    <td class="set-card__team">
                        <span class="set-card__team-text">{{ match.team1.short_name }}</span>
                        <span class="set-card__team-img"
                              style="background-image: url({% if match.team1.image %} {{ match.team1.image.url }} {% endif %})">
                              {% if not match.team1.image %} {{ match.team1.short_name }} {% endif %}
                        </span>
                    </td>
                    <td class="set-card__player">{{ game.team1.player1 }}{% if game.team1.player2 %}<br>{{ game.team1.player2 }}{% endif %}
                    </td>
                    {% for score in game.team1.score %}
                    <td class="set-card__points {{ score.is_win|yesno:'set-card__points_winner_yes,' }}">{{ score.balls }}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="set-card__team">
                        <span class="set-card__team-text">{{ match.team2.short_name }}</span>
                        <span class="set-card__team-img"
                              style="background-image: url({% if match.team2.image %} {{ match.team2.image.url }} {% endif %})">
                              {% if not match.team2.image %} {{ match.team2.short_name }} {% endif %}
                          </span>
                    </td>
                    <td class="set-card__player">{{ game.team2.player1 }}{% if game.team2.player2 %}<br>{{ game.team2.player2 }}{% endif %}
                    </td>
                    {% for score in game.team2.score %}
                    <td class="set-card__points {{ score.is_win|yesno:'set-card__points_winner_yes,' }}">{{ score.balls }}
                    </td>
                    {% endfor %}
                </tr>
            </table>
            {% if forloop.counter == 7 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% if match.penalty_set.all %}
<h3 class="penalti-title">Пенальти ({{ match.penalty_score }})</h3>
<div class="pure-g">
    <div class="pure-u-24-24 pure-u-sm-12-24 penalti-table-wrapper">
        <table class="penalti-table">
            {% for penalty in match.penalty_set.all %}
            <tr>
                <td class="penalti-table__counter">{{ forloop.counter }}</td>
                <td class="penalti-table__player">{{ penalty.team1_player }}</td>
                <td class="penalti-table__points {{ penalty.is_team1_scored|yesno:'penalti-table__points_winner_yes,' }} ">
                    {% if penalty.is_team1_scored %}1{% else %}0{% endif %}
                </td>
                <td class="penalti-table__points {{ penalty.is_team2_scored|yesno:'penalti-table__points_winner_yes,' }}">{% if penalty.is_team2_scored %}1{% else %}0{% endif %}</td>
                <td class="penalti-table__player">{{ penalty.team2_player }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
</div>
{% endblock content %}