{% extends "base.html" %}

{% load static %}
{% load l10n %}
{% load league_extras %}

{% block menu %}
<li class="pure-menu-item menu-item-divided pure-menu-selected">
    <a href="{% url 'league:matches' selected_city %}" class="pure-menu-link">
        {{ match.team1.short_name }} - {{ match.team2.short_name }} {{ match.date|date:"d.m.Y" }}
    </a>
</li>
{% endblock menu %}

{% block content %}
{% race_match_games_by_set match 1 as games_set_1 %}
{% race_match_games_by_set match 2 as games_set_2 %}
<div class="match-header">
    <div class="match-header__bar">
        {% localize on %} {{ match.date|date:"d E" }}, {% endlocalize %} «{{ match.place }}»
    </div>
    <div class="match-header__info"
         style="background-image: url({% if match.place.image %} {{ match.place.image.url }} {% endif %})">
        <div class="pure-g match-header__info-content">
            <div class="match-header__team pure-u-8-24 pure-u-sm-8-24">
                {% if match.team1.image %}
                <img class="match-header__team-logo" src="{{ match.team1.image.url }}"/>
                {% else %}
                <span class="match-header__team-logo_text" style="">{{ match.team1.short_name }}</span>
                {% endif %}
            </div>
            <div class="pure-u-8-24 pure-u-sm-8-24">
                <div class="match-header__total-score">
                    {{ match.team1_set_score }}
                    <span class="match-header__score-separator">:</span> {{ match.team2_set_score }}
                </div>
                <div class="match-header__sets-score">
                    {{ match.sets_score_display }}
                </div>
            </div>
            <div class="match-header__team match-header__team_postion_right pure-u-8-24 pure-u-sm-8-24">
                {% if match.team2.image %}
                <img class="match-header__team-logo" src="{{ match.team2.image.url }}"/>
                {% else %}
                <span class="match-header__team-logo_text" style="">{{ match.team2.short_name }}</span>
                {% endif %}
            </div>
            <div class="pure-u-12-24 pure-u-sm-12-24 match-header__team-title match-header__team-title__position_left">
                {{ match.team1.name }}
            </div>
            <div class="pure-u-12-24 pure-u-sm-12-24 match-header__team-title match-header__team-title__position_right">
                {{ match.team2.name }}
            </div>
        </div>
    </div>
</div>

<div class="content content-match">
    <div class="pure-g">
        <div class="pure-u-24-24 pure-u-sm-12-24 set-column_position_first">
            <h2 class="set-title">1-ый Сет</h2>
            {% for game in games_set_1 %}
            <table class="set-card">
                <tr>
                    <td class="set-card__counter">{{ game.game_type }}</td>
                    <td>
                        <div class="set-card_score-container_division_1">
                            <div class="set-card__player">
                                {{ game.team1.player1.player.last_name }}
                                <span class="player-first-name">{{ game.team1.player1.player.first_name }}</span>
                                <span class="player-first-name-letter">{{ game.team1.player1.player.first_name.0 }}.</span>
                                {% if game.team1.player2 %}<br>
                                {{ game.team1.player2.player.last_name }}
                                <span class="player-first-name">{{ game.team1.player2.player.first_name }}</span>
                                <span class="player-first-name-letter">{{ game.team1.player2.player.first_name.0 }}.</span>
                                {% endif %}
                            </div>
                            <div class="set-card__points {{ game.team1.score.is_win|yesno:'set-card__points_winner_yes,' }}">{{ game.team1.score.balls }}</div>
                            <div class="set-card__points {{ game.team2.score.is_win|yesno:'set-card__points_winner_yes,' }}">{{ game.team2.score.balls }}</div>
                            <div class="set-card__player">
                                {{ game.team2.player1.player.last_name }}
                                <span class="player-first-name">{{ game.team2.player1.player.first_name }}</span>
                                <span class="player-first-name-letter">{{ game.team2.player1.player.first_name.0 }}.</span>
                                {% if game.team2.player2 %}<br>
                                {{ game.team2.player2.player.last_name }}
                                <span class="player-first-name">{{ game.team2.player2.player.first_name }}</span>
                                <span class="player-first-name-letter">{{ game.team2.player2.player.first_name.0 }}.</span>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
        <div class="pure-u-24-24  pure-u-sm-12-24 set-column_position_second">
            <h2 class="set-title">2-ой Сет</h2>
            {% for game in games_set_2 %}
            <table class="set-card">
                <tr>
                    <td class="set-card__counter">{{ game.game_type }}</td>
                    <td>
                        <div class="set-card_score-container_division_1">
                            <div class="set-card__player">
                                {{ game.team1.player1.player.last_name }}
                                <span class="player-first-name">{{ game.team1.player1.player.first_name }}</span>
                                <span class="player-first-name-letter">{{ game.team1.player1.player.first_name.0 }}.</span>
                                {% if game.team1.player2 %}<br>
                                {{ game.team1.player2.player.last_name }}
                                <span class="player-first-name">{{ game.team1.player2.player.first_name }}</span>
                                <span class="player-first-name-letter">{{ game.team1.player2.player.first_name.0 }}.</span>
                                {% endif %}
                            </div>
                            <div class="set-card__points {{ game.team1.score.is_win|yesno:'set-card__points_winner_yes,' }}">{{ game.team1.score.balls }}</div>
                            <div class="set-card__points {{ game.team2.score.is_win|yesno:'set-card__points_winner_yes,' }}">{{ game.team2.score.balls }}</div>
                            <div class="set-card__player">
                                {{ game.team2.player1.player.last_name }}
                                <span class="player-first-name">{{ game.team2.player1.player.first_name }}</span>
                                <span class="player-first-name-letter">{{ game.team2.player1.player.first_name.0 }}.</span>
                                {% if game.team2.player2 %}<br>
                                {{ game.team2.player2.player.last_name }}
                                <span class="player-first-name">{{ game.team2.player2.player.first_name }}</span>
                                <span class="player-first-name-letter">{{ game.team2.player2.player.first_name.0 }}.</span>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
