<!DOCTYPE html>

{% load static %}
{% load league_extras %}

{% url 'league:index' selected_city as home %}
{% url 'league:player_statistics' selected_city as players_statistics %}
{% url 'league:matches' selected_city as matches %}
{% random_int 1 10000 as random_v %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Командная Лига по настольному футболу">
    <meta name="og:description" content="Командная Лига по настольному футболу">
    <meta name="og:image" content="http://foos.pro/wp-content/ata-images/logo.png">
    <title>Настольный футбол: командная лига</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;subset=cyrillic&amp;v={{ random_v }}"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css?v={{ random_v }}" integrity="sha384-"
          crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'league/css/layouts/side-menu-old-ie.css' %}?v={{ random_v }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css?v={{ random_v }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{% static 'league/css/layouts/side-menu.css' %}?v={{ random_v }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css?v={{ random_v }}">
    <!--<![endif]-->
    <link rel="stylesheet" href="{% static 'league/css/protocol.css' %}?v={{ random_v }}">
</head>

<body>
<div id="layout">
    <!-- Menu toggle -->
    <div class="moble-head">
        <a id="menuLink" href="#menu" class="menu-link moble-head__menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <span class="mobile-head__logo">FOOS LEAGUE</span>
        <div class="moble-head__select-city">
            {% cities_menu selected_city %}
        </div>
    </div>

    <div id="menu">
        <div class="pure-menu">
            <div class="pure-menu-heading">
                <span class="logo">FOOS LEAGUE</span>
                <div class="pure-menu-heading__select-city">
                    {% cities_menu selected_city %}
                </div>
            </div>
            <ul class="pure-menu-list">
                <li class="pure-menu-item {% selected_menu request home %}">
                    <a href="{% url 'league:index' selected_city %}" class="pure-menu-link">Рейтинг команд</a>
                </li>
                <li class="pure-menu-item {% selected_menu request players_statistics %}">
                    <a href="{% url 'league:player_statistics' selected_city %}"
                       class="pure-menu-link">Рейтинг игроков</a>
                </li>
                <li class="pure-menu-item {% selected_menu request matches %}">
                    <a href="{% url 'league:matches' selected_city %}" class="pure-menu-link">Матчи</a>
                </li>
                {% block menu %}{% endblock menu %}
            </ul>
        </div>
    </div>

    <div id="main">
        {% block content %}{% endblock content %}
    </div>
</div>
<script src="{% static 'league/js/ui.js' %}?v={{ random_v }}"></script>
</body>

</html>