{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1><span class="title__city">{{ active_season.name }} / </span>Рейтинг игроков</h1>
    <div class="season-buttons">
        {% for division in active_season.division_set.all %}
        <a class="pure-button {{ forloop.first|yesno:'pure-button-primary,' }} division-link"
           id="tab-link-division-{{ division.number }}"
           onclick="openTab('division-{{ division.number }}', 'division')">{{ division.name }}</a>
        {% endfor %}
    </div>
</div>

{% for division in active_season.division_set.all %}
<div class="content division tab-content-division" id="division-{{ division.number }}"
     style="display: {{ forloop.first|yesno:'block,none' }}">
    <table class="pure-table raiting-table table_style_default">
        <thead>
        {% if division.race_match_format %}
        <tr>
            <th data-tooltip="Место" class="tooltip-top">#</th>
            <th class="player-name-call">Имя</th>
            <th class="team-call">Команда</th>
            <th>И</th>
            <th>З</th>
            <th>П</th>
            <th>РМ</th>
        </tr>
        {% else %}
        <tr class="description">
            <th colspan="3">
            </th>
            <th colspan="5">
                Всего
            </th>
            <th colspan="5">
                Одиночки
            </th>
            <th colspan="5">
                Пары
            </th>
            <th class="goals">
            </th>
        </tr>
        <tr class="description-full">
            <th data-tooltip="Место" name="count" class="tooltip-top">#</th>
            <th class="player-name-call">Имя</th>
            <th class="team-call">Команда</th>
            <th class="TP">И</th>
            <th class="TW">В</th>
            <th class="TD">Н</th>
            <th class="TL">П</th>
            <th class="TA">Р</th>

            <th class="SP">И</th>
            <th class="SW">В</th>
            <th class="SD">Н</th>
            <th class="SL">П</th>
            <th class="SA">Р</th>

            <th class="DP">И</th>
            <th class="DW">В</th>
            <th class="DD">Н</th>
            <th class="DL">П</th>
            <th class="DA">Р</th>
            <th class="GA">РМ</th>
        </tr>
        {% endif %}
        </thead>
        <tbody>

        {% for index, player in division.get_players %}
        <tr class="{{ player.is_not_in_rating|yesno:'unactive-player,' }}">
            <td class="count">{{ index }}</td>
            <td class="player-name-call">{{ player }} <span class="team-span">{{ player.team.short_name }}</span></td>
            {% if division.race_match_format %}
            <td class="team-call">{{ player.team.name }}</td>
            <td class="TP">{{ player.total_games_played }}</td>
            <td class="GS">{{ player.total_scored_goals }}</td>
            <td class="GC">{{ player.total_conceded_goals }}</td>
            <td class="GA">{{ player.total_goal_average }}</td>
            {% else %}
            <td class="team-call">{{ player.team.name }}</td>
            <td class="TP">{{ player.total_games_played }}</td>
            <td class="TW">{{ player.total_games_won }}</td>
            <td class="TD">{{ player.total_games_tied }}</td>
            <td class="TL">{{ player.total_games_lost }}</td>
            <td class="TA">{{ player.total_games_average }}</td>
            <td class="SP">{{ player.total_singles_games_played }}</td>
            <td class="SW">{{ player.total_singles_games_won }}</td>
            <td class="SD">{{ player.total_singles_games_tied }}</td>
            <td class="SL">{{ player.total_singles_games_lost }}</td>
            <td class="SA">{{ player.total_singles_games_average }}</td>
            <td class="DP">{{ player.total_doubles_games_played }}</td>
            <td class="DW">{{ player.total_doubles_games_won }}</td>
            <td class="DD">{{ player.total_doubles_games_tied }}</td>
            <td class="DL">{{ player.total_doubles_games_lost }}</td>
            <td class="DA">{{ player.total_doubles_games_average }}</td>
            <td class="GA">{{ player.total_goal_average }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="glossary">
        <div class="glossary_title">Глоссарий</div>
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">И</dt>
            <dd class="gloss_transcript">Количество проведенных игр</dd>
        </dl>
        {% if not division.race_match_format %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">В</dt>
            <dd class="gloss_transcript">Количество выигранных игр</dd>
        </dl>
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">Н</dt>
            <dd class="gloss_transcript">Количество ничейных игр</dd>
        </dl>
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">П</dt>
            <dd class="gloss_transcript">Количество проигранных игр</dd>
        </dl>
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">Р</dt>
            <dd class="gloss_transcript">Разница выигранных и проигранных игр</dd>
        </dl>
        {% else %}
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">З</dt>
            <dd class="gloss_transcript">Количество забитых мячей</dd>
        </dl>
        <dl class="glossary_item">
            <dt class="gloss_abbreviation">П</dt>
            <dd class="gloss_transcript">Количество пропущенных мячей</dd>
        </dl>
        {% endif %}
        <dl class="glossary_item GA">
            <dt class="gloss_abbreviation">РМ</dt>
            <dd class="gloss_transcript">Разница забитых и пропущенных мячей</dd>
        </dl>
    </div>
</div>
{% endfor %}
{% endblock content %}